{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-5">
        {% for label, messages in app.flashes %}
            <div class="alert alert-{{ label }}">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-md-12">
                {% for deal in deals %}
                    <div class="card mb-4">
                        <div class="row no-gutters">
                            <div class="col-md-3">
                                {% if deal.imageFilename %}
                                    <img src="{{ asset('uploads/images/' ~ deal.imageFilename) }}" alt="{{ deal.titre }}" class="card-img" style="height: 100%; object-fit: cover;">
                                {% else %}
                                    <img src="https://via.placeholder.com/300x200?text=No+Image" alt="{{ deal.titre }}" class="card-img" style="height: 100%; object-fit: cover;">
                                {% endif %}
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ deal.titre }}</h5>
                                    <p class="card-text">{{ deal.description }}</p>
                                    <p class="card-text">
                                        <span class="text-muted"><del>{{ deal.prixInitial|number_format(2, ',', ' ') }} €</del></span>
                                        <span class="text-danger">{{ deal.prixReduit|number_format(2, ',', ' ') }} €</span>
                                    </p>
                                   <p class="card-text"><small class="text-muted">{{ deal.datePublication|date('Y-m-d') }}</small></p>
                                    <p class="card-text">
                                        {% if deal.livraison == 'gratuite' %}
                                            Livraison : <span class="text-success">Gratuite</span>
                                        {% elseif deal.livraison == 'payante' %}
                                            Livraison : <span class="text-warning">Payante</span>
                                        {% else %}
                                            Livraison : <span class="text-muted">Non spécifiée</span>
                                        {% endif %}
                                    </p>
                                    <a href="{{ deal.lien }}" class="btn btn-primary btn-sm rounded-pill" target="_blank">Voir le deal</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
